<div class="row justify-content-center text-center mt-5">
    <h1>Đăng nhập tài khoản <br/>
        <b>Kho hàng của bạn</b>
    </h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/dang-nhap" method="post">
                <div class="form-group">
                    <label for="user">Nhập tên tài khoản</label>
                    <input type="text" class="form-control" name="username" id="user" aria-describedby="emailHelpId" placeholder="Nhập tên tài khoản">
                </div>
                <div class="form-group">
                    <label for="pass">Nhập password</label>
                    <input type="password" class="form-control" name="password" id="pass" placeholder="Nhập mật khẩu">
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue"> Nhớ mật khẩu
                    </label>
                </div>
                <button type="submit" class="btn-block btn btn-success mt-2">Đăng nhập</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
            <a href="/dang-ky">Đăng ký mới?</a>
        </div>
    </div>
</div>