
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <form action="" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hovaten">Nhập họ và tên</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="hovaten"><i class="far fa-address-card"></i></span>
                                            </div>
                                            <input type="text" class="form-control" name="" id="hovaten" placeholder="Nhập họ và tên của bạn">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Tài khoản loại</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="chukho"><i class="far fa-hand-point-right"></i></span>
                                            </div>
                                            <select class="form-control" name="" id="chukho">
                                                <option>Chủ kho</option>
                                                <option>Quản lý hoặc Nhân Viên Kho</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="cmnd">Nhập số chứng minh nhân dân</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="fab fa-bandcamp"></i></span>
                                            </div>
                                            <input type="text" name="" id="cmnd" class="form-control" placeholder="Nhập số chứng minh nhân dân">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sdt">Nhập số điện thoại</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" name="" id="sdt" class="form-control" placeholder="Nhập số điện thoại">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user">Nhập tên tài khoản</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="fas fa-user-tie"></i></span>
                                            </div>
                                            <input type="text" name="" id="user" class="form-control" placeholder="Nhập tên tài khoản">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Nhập email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="email" name="" id="email" class="form-control" placeholder="Nhập email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pass">Nhập password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id=""><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control" name="" id="pass" placeholder="Nhập password">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pass1">Nhập lại password</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="chukho"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                            </div>
                                            <input type="password" class="form-control" name="" id="pass1" placeholder="Nhập lại password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#">Điều khoản sử dụng</a>
                                    <div class="form-inline">
                                        <input type="checkbox" class="form-control mr-2" name="" id="dongy">
                                        <label for="dongy">Đồng ý với điều khoản</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-2 offset-md-5">
                                    <button type="submit" class="btn btn-success btn-block">Đăng ký</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>