
  <div class="container">
    <div class="row mt-5">
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Xem kho
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Xem nhân viên
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Chức năng 3
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Chức năng 4
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Chức năng 5
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
      <div class=" col-md-4">
        <div class="card">
          <div class="card-header">
            Xem kho
          </div>
          <div class="card-body">
            <img class="icon" src="/images/wms-icon-manage-in.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>