
    <div class="container">
        <div class="card row">
            <h4 class="card-header">
                Hàng hóa
            </h4>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <h5 class="card-title">Phân loại</h5>
                        <div class="btn-group form-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Đồ uống</button>
                            <button type="button" class="btn btn-secondary">Đồ ăn</button>
                            <button type="button" class="btn btn-secondary">Quần áo</button>
                            <button type="button" class="btn btn-secondary">Trái cây</button>
                            <button type="button" class="btn btn-secondary">Tất cả</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-success btn-sm">Thêm</button>
                            <button class="btn btn-outline-danger btn-sm">Xóa</button>
                            <button class="btn btn-outline-dark btn-sm">Sửa</button>
                        </div>
                    </div>
                </form>
                <div>
                    <div class="form-group">
                        <h5 class="card-title">Danh sách</h5>
                    </div>
                    <table class="table">
                        <tr>
                            <th>Mã hàng hoá</th>
                            <th>Tên hàng hóa</th>
                            <th>Loại hàng hoá</th>
                            <th>Số lượng</th>
                            <th>Ngày nhập hàng</th>
                            <th>Ngày hết hạn</th>
                            <th>Đơn giá</th>
                        </tr>
                        <tr>
                            <td>HH01</td>
                            <td>Kokomi</td>
                            <td>Đồ ăn</td>
                            <th>12 thùng</th>
                            <td>22/04/2018</td>
                            <td>22/05/2018</td>
                            <td>140.000</td>
                        </tr>
                        <tr>
                            <td>HH01</td>
                            <td>Kokomi</td>
                            <td>Đồ ăn</td>
                            <th>12 thùng</th>
                            <td>22/04/2018</td>
                            <td>22/05/2018</td>
                            <td>140.000</td>
                        </tr>
                        <tr>
                            <td>HH01</td>
                            <td>Kokomi</td>
                            <td>Đồ ăn</td>
                            <th>12 thùng</th>
                            <td>22/04/2018</td>
                            <td>22/05/2018</td>
                            <td>140.000</td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>
    </div>
