
    <div class="container">
        <div class="row">
            <h1>Kho hàng</h1>
        </div>
        <div class="card row" style="margin-bottom:20px;">
            <h4 class="card-header">
                Family Mart
            </h4>
            <form class="card-body">
                <div class="form-group">
                    <h5 class="card-title">Mã số kho</h5>
                    <input class="form-control" id="tui" value="001" disabled></input>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Địa chỉ kho</h5>
                    <input class="form-control" value="Bình Thạnh" disabled></input>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Mô tả</h5>
                    <textarea class="form-control" disabled>Kho của chị chủ</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Chỉnh sửa</button>
                </div>
            </form>
        </div>

        <div class="card row" style="margin-bottom:20px;">
            <h4 class="card-header">
                Family Mart
            </h4>
            <form class="card-body">
                <div class="form-group">
                    <h5 class="card-title">Mã số kho</h5>
                    <input class="form-control" id="tui" value="001" disabled></input>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Địa chỉ kho</h5>
                    <input class="form-control" value="Bình Thạnh" disabled></input>
                </div>
                <div class="form-group">
                    <h5 class="card-title">Mô tả</h5>
                    <textarea class="form-control" disabled>Kho của chị chủ</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Chỉnh sửa</button>
                </div>
            </form>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <button class="btn btn-outline-success col-2" style="margin-right:20px;">Thêm</button>
            <button class="btn btn-outline-danger col-2">Xóa</button>
        </div>
    </div>