<!doctype html>

<html lang="en">

<head>
    <title>{{{title}}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link href="./stylesheets/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <div id="wrapper" class="toggled">
        {{#equal tuCach "Chủ kho" }}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kho hàng của bạn
                    </a>
                </li>
                <li>
                    <a href="/dashboard" {{#if dashboard}} class="active" {{/if}}>
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/kho-hang" {{#if khoHang}} class="active" {{/if}}>
                        <i class="fas fa-box"></i>
                        Kho
                    </a>
                </li>
                <li>
                    <a href="/hang-hoa" {{#if hangHoa}} class="active" {{/if}}>
                        <i class="fas fa-cube"></i>
                        Hàng hoá</a>
                </li>
                <li>
                    <a href="/nhan-vien" {{#if nhanVien}} class="active" {{/if}}>
                        <i class="fas fa-users"></i>
                        Nhân viên</a>
                </li>
                <li>
                    <a href="/lich-nhap-hang" {{#if lichNhaphang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch nhập hàng
                    </a>
                </li>
                <li>
                    <a href="/lich-xuat-hang" {{#if lichXuathang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch xuất hàng
                    </a>
                </li>
                <li>
                    <a href="/don-hang-nhap" {{#if donHangNhap}} class="active" {{/if}}>
                        <i class="far fa-file-alt"></i>
                        Đơn hàng nhập</a>
                </li>
                <li>
                    <a href="/don-hang-xuat" {{#if donHangXuat}} class="active" {{/if}}>
                        <i class="far fa-file-alt"></i>
                        Đơn hàng xuất</a>
                </li>
                <li>
                    <a href="/bao-cao" {{#if baoCao}} class="active" {{/if}}>
                        <i class="fas fa-reply"></i>
                        Báo cáo</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        Thống kê</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user-tie"></i>
                        Quản lý tài khoản</a>
                </li>
            </ul>
        </div>
        {{/equal}}
        {{#equal tuCach "Quản lý" }}
            <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kho hàng của bạn
                    </a>
                </li>
                <li>
                    <a href="/dashboard" {{#if dashboard}} class="active" {{/if}}>
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/hang-hoa" {{#if hangHoa}} class="active" {{/if}}>
                        <i class="fas fa-cube"></i>
                        Hàng hoá</a>
                </li>
                <li>
                    <a href="/nhan-vien" {{#if nhanVien}} class="active" {{/if}}>
                        <i class="fas fa-users"></i>
                        Nhân viên</a>
                </li>
                <li>
                    <a href="/lich-nhap-hang" {{#if lichNhaphang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch nhập hàng
                    </a>
                </li>
                <li>
                    <a href="/lich-xuat-hang" {{#if lichXuathang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch xuất hàng
                    </a>
                </li>
                <li>
                    <a href="/don-hang-nhap" {{#if donHangNhap}} class="active" {{/if}}>
                        <i class="far fa-file-alt"></i>
                        Đơn hàng nhập</a>
                </li>
                <li>
                    <a href="/don-hang-xuat" {{#if donHangXuat}} class="active" {{/if}}>
                        <i class="far fa-file-alt"></i>
                        Đơn hàng xuất</a>
                </li>
                <li>
                    <a href="/bao-cao" {{#if baoCao}} class="active" {{/if}}>
                        <i class="fas fa-reply"></i>
                        Báo cáo</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        Thống kê</a>
                </li>
            </ul>
        </div>
        {{/equal}}
        {{#equal tuCach "Nhân viên" }}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kho hàng của bạn
                    </a>
                </li>
                <li>
                    <a href="/dashboard" {{#if dashboard}} class="active" {{/if}}>
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/hang-hoa" {{#if hangHoa}} class="active" {{/if}}>
                        <i class="fas fa-cube"></i>
                        Hàng hoá</a>
                </li>
                <li>
                    <a href="/lich-nhap-hang" {{#if lichNhaphang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch nhập hàng
                    </a>
                </li>
                <li>
                    <a href="/lich-xuat-hang" {{#if lichXuathang}} class="active" {{/if}}>
                        <i class="far fa-calendar-alt"></i>
                        Lịch xuất hàng
                    </a>
                </li>
            </ul>
        </div>
        {{/equal}}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <a href="#" class="btn btn-outline-secondary" id="menu-toggle">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Tư cách: {{tuCach}}
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.tenTaiKhoan}}
                            <i class="fas fa-user-tie ml-2"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profile">
                            <a class="dropdown-item" href="/thongtincanhan">Cá nhân</a>
                            <form action="/dang-xuat" method="post">
                                <button type="submit" class="btn nav-link btn-link dropdown-item ml-2">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Content -->
            <div>
                {{{body}}}
            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script src="/js/script_nhan.js"></script>
</body>

</html>