
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="user">Nh廕計 username</label>
                        <input type="text" class="form-control" name="" id="user" placeholder="Nh廕計 username">
                    </div>
                    <div class="form-group">
                        <label for="email">Nh廕計 email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Nh廕計 email">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">submit</button>
                </form>
            </div>
        </div>
    </div>
