<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>Tạo kho hàng</p>
    <label for="ten-kho-hang">Tên kho hàng</label>
    <input type="text" name="ten" id="ten-kho-hang">
    <label for="dia-chi">Địa chỉ</label>
    <input type="text" name="diachi" id="dia-chi">
    <!--Chủ kho là người đang login-->
    <label for="quan-li">Quản lí</label>
    <select name='quanli' id="quan-li">
        <option value="MAQL">QL1</option>
        <option value="MAQL">QL2</option>
    </select>
</body>
</html>