<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tạo tài khoản</title>
</head>
<body>
    <fieldset>
        <legend>Tạo tài khoản</legend>
        <form>
            <label>Họ và tên</label>
            <input type="text">
            <br>
            <label>Email</label>
            <input type="text">
            <br>
            <label>Mật khẩu</label>
            <input type="password">
            <br>
            <label>Nhập lại mật khẩu</label>
            <input type="password">
            <br>
            <label>Điều khoản dịch vụ</label>
            <br>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eos fugit quidem porro deserunt corrupti dolor, laudantium vel ipsa culpa atque, consectetur ab accusantium animi reprehenderit nostrum, perspiciatis aspernatur. Officiis.</div>
            <input type="submit" value="Tạo tài khoản">
        </form>
    </fieldset>
</body>
</html>