<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <label for="loai">Loại</label>
    <select name="loai" id="loai">
        <option value="nhap">Nhập</option>
        <option value="xuat">Xuất</option>
    </select>
    <table>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Mã kho hàng</th>
            <th>Tên kho hàng</th>
            <th>Ngày lập đơn</th>
            <th>Người lập đơn</th>
            <th>Ngày nhập hàng</th>
            <th>Xem chi tiết đơn</th>
        </tr>
        <tr>
            <td>HD01</td>
            <td>KH01</td>
            <td>Kho 1</td>
            <td>22/04/2018</td>
            <td>Đào Xuân Tin</td>
            <td>22/05/2018</td>
            <td><a href="#">Xem</a></td>
        </tr>
    </table>
</body>

</html>