<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h5>Mã đơn hàng</h5>
    <p>MA1</p>
    <h5>Mã kho hàng</h5>
    <p>Kho1</p>
    <h5>Tên kho hàng</h5>
    <p>Kho số 1</p>
    <h5>Ngày lập đơn</h5>
    <p>22/04/2018</p>
    <h5>Người lập đơn</h5>
    <p>Đào Xuân Tin</p>
    <h5>Danh sách hàng hoá</h5>
    <table>
        <tr>
            <th>Mã hàng hoá</th>
            <th>Mã loại hàng hoá</th>
            <th>Tên loại hàng hoá</th>
            <th>Số lượng</th>
            <th>Ngày nhập</th>
            <th>Ngày hết hạn</th>
            <th>Đơn giá</th>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>kokomi</td>
            <td>100 thùng</td>
            <td>22/4/2018</td>
            <td>22/9/2018</td>
            <td>140.000</td>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>kokomi</td>
            <td>100 thùng</td>
            <td>22/4/2018</td>
            <td>22/9/2018</td>
            <td>140.000</td>
        </tr>
        <!--...-->
    </table>
</body>

</html>