<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đơn nhập/xuất</title>
</head>

<body>
    <fieldset>
        <legend>Đơn nhập/xuất</legend>
        <!--Thông tin đơn hàng-->
        <span>Mã đơn: </span>
        <span>001</span>
        <br>
        <span>Ngày lập: </span>
        <span>22/02/2018 </span>
        <br>
        <span>Giờ lập:</span>
        <span>02:30:45 PM</span>
        <br>
        <span>Người lập: </span>
        <span>Nguyễn Văn A</span>

        <br>
        <!--Bảng chi tiết đơn hàng-->
        <table>
            <tr>
                <th>STT</th>
                <th>Hàng hóa</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Mì Hảo Hảo thùng</td>
                <td>5</td>
                <td>40000</td>
                <td>200000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bia 333 thùng</td>
                <td>10</td>
                <td>200000</td>
                <td>2000000</td>
            </tr>
            <tr>
                <td colspan="4">Tổng:</td>
                <td>2200000</td>
            </tr>
        </table>
        <!--Ngày nhập/xuất khác với ngày tạo đơn-->
        <span>Ngày nhập/xuất: 30/04/2018</span>


    </fieldset>
</body>

</html>