<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h5>Mã kho hàng</h5>
    <p>KHO1</p>
    <h5>Tên kho hàng</h5>
    <p>Kho hàng số 1</p>
    <h5>Địa chỉ</h5>
    <p>389/10 Ngô Gia Tự</p>
    <h5>Tên chủ kho</h5>
    <p>Đào Xuân Tin</p>
    <h5>Quản lí kho</h5>
    <a href="#">Lê Văn Quản Lí</a>
</body>
</html>