<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--
    --Chỉ thiết kế cho 1 loại hàng hoá,--
    <h5>Mã hàng hoá</h5>
    <p>HH01</p>
    <h5>Mã loại hàng hoá</h5>
    <p>ML01</p>
    <h5>Tên loại hàng hoá</h5>
    <p>kokomi</p>
    --Không cần hiển thị kho hàng, tại vì người xem biết đang xem kho nào--
    <h5>Số lượng</h5>
    <p>100 thùng</p>
    <h5>Ngày nhập</h5>
    <p>22/4/2018</p>
    <h5>Ngày hết hạn</h5>
    <p>22/9/2018</p>-->
    <table>
        <tr>
            <th>Mã hàng hoá</th>
            <th>Mã loại hàng hoá</th>
            <th>Tên loại hàng hoá</th>
            <th>Số lượng</th>
            <th>Ngày nhập</th>
            <th>Ngày hết hạn</th>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>kokomi</td>
            <td>100 thùng</td>
            <td>22/4/2018</td>
            <td>22/9/2018</td>
        </tr>
    </table>
</body>
</html>