<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!--Hiện tại dang ở trong kho nào nên không cần xem hàng hoá thuộc kho nào-->
    <table>
        <tr>
            <th>Mã hàng hoá</th>
            <th>Mã loai hàng hoá</th>
            <th>Tên loại hàng hoá</th>
            <th>Số lượng</th>
            <th>Ngày nhập hàng</th>
            <th>Ngày hết hạn</th>
            <th>Đơn giá</th>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>Kokomi</td>
            <th>12 thùng</th>
            <td>22/04/2018</td>
            <td>22/05/2018</td>
            <td>140.000</td>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>Kokomi</td>
            <th>12 thùng</th>
            <td>22/04/2018</td>
            <td>22/05/2018</td>
            <td>140.000</td>
        </tr>
        <tr>
            <td>HH01</td>
            <td>ML01</td>
            <td>Kokomi</td>
            <th>12 thùng</th>
            <td>22/04/2018</td>
            <td>22/05/2018</td>
            <td>140.000</td>
        </tr>
    </table>
</body>

</html>